<?xml version="1.0" encoding="utf-8"?>
<config xmlns="https://share.obvsg.at/xml/misc/config">
  <projectInfo>
    <name>XSLT Normalisierungen für Alma</name>
    <distDir>dist</distDir>
    <docDir>docs</docDir>
    <readme href="README.md" />
    <contributors>
      <contributor email="stefan.schuh@obvsg.at">Stefan Schuh</contributor>
    </contributors>
  </projectInfo>

  <transformations>
    <transformation name="Normalize on Save"
                   distName="OBV_normalize-on-save"
                   main="normalizations/on-save/normalize-on-save.xsl"
                   testMain="normalizations/on-save/tests/normalize-on-save.xspec" />
    <transformation name="Schreibvorlage"
                   distName="OBV_schreibvorlage"
                   main="normalizations/derive-record/schreibvorlage/schreibvorlage/schreibvorlage.xsl"
                   testMain="normalizations/derive-record/schreibvorlage/schreibvorlage/schreibvorlage.xspec" />
    <transformation name="Schreibvorlage E2P"
                   distName="OBV_schreibvorlage_e2p"
                   main="normalizations/derive-record/schreibvorlage/schreibvorlage-e2p/schreibvorlage-e2p.xsl"
                   testMain="normalizations/derive-record/schreibvorlage/schreibvorlage-e2p/schreibvorlage-e2p.xspec" />
    <transformation name="Aufsatz ableiten - print"
                   distName="OBV_aufsatz-ableiten-p"
                   main="normalizations/derive-record/aufsatz-p/aufsatz-p.xsl"
                   testMain="normalizations/derive-record/aufsatz-p/tests/aufsatz-p.xspec" />
    <transformation name="TAT ableiten"
                   distName="OBV_tat_ableiten"
                   main="normalizations/derive-record/tat-ableiten/tat-ableiten.xsl"
                   testMain="normalizations/derive-record/tat-ableiten/tests/tat-ableiten.xspec" />
    <transformation name="Import Library of Congress"
                   distName="OBV_EXTR_LoC"
                   main="normalizations/external-resources/libraryOfCongress/loc.xsl"
                   testMain="normalizations/external-resources/libraryOfCongress/loc.xspec" />
    <transformation name="AI-Assistant"
                   distName="OBV_AI_assistant"
                   main="normalizations/ai-assistant/ai-assistant.xsl"
                   testMain="normalizations/ai-assistant/tests/ai-assistant.xspec" />
  </transformations>
</config>
