<?xml version="1.0" encoding="utf-8"?>
<config xmlns="https://share.obvsg.at/xml/misc/config">
  <projectInfo>
    <name>XSLT Normalisierungen für Alma</name>
    <distDir>dist</distDir>
    <docDir>docs</docDir>
    <readme href="README.md" />
  </projectInfo>

  <transformations>
    <transformation name="Normalize on Save"
                   distName="OBV_normalize-on-save"
                   main="normalizations/on-save/normalize-on-save.xsl"
                   testMain="normalizations/on-save/tests/00_normalize-on-save-main.xspec" />
    <transformation name="Schreibvorlage"
                   distName="OBV_schreibvorlage"
                   main="normalizations/derive-record/schreibvorlage/schreibvorlage.xsl"
                   testMain="normalizations/derive-record/schreibvorlage/schreibvorlage.xspec" />
    <transformation name="Aufsatz ableiten - print"
                   distName="OBV_aufsatz-ableiten-p"
                   main="normalizations/derive-record/aufsatz-p/aufsatz-p.xsl"
                   testMain="normalizations/derive-record/aufsatz-p/tests/aufsatz-p.xspec" />
    <transformation name="Import Library of Congress"
                   distName="OBV_EXR_LoC"
                   main="normalizations/external-resources/libraryOfCongress/loc.xsl"
                   testMain="normalizations/external-resources/libraryOfCongress/loc.xspec" />
  </transformations>
</config>
